<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=user%> Message</title>
</head>
<body>
    <p>User: <%=user%></p>
    <p>Message: <%=text%></p>
    <p>Date: <%=added%></p>
    <a href="../">Back to Messages</a>
</body>
</html>